<li class="task taskEntry" data-id="{{id}}">
<div class="taskName">Task: {{name}}</div>
<div class="taskDuration">
<span class="taskCountdown" data-id="{{id}}"">{{formatted_duration}}</span>
</div>
<div class="taskActions">
<a href="#" class="startCounter" data-id="{{id}} data-duration="{{duration}}">Start</a>
%span -
<a href="#" class="stopCounter" data-id="{{id}}">Pause</a>
%span -
<a href="#" class="editTimer" data-id="{{id}}">Edit timer</a>
%span -
<a href="#" class="deleteTask" data-id="{{id}}">Delete task</a>
</div>
<div class="taskDetails collapsed">Notice: {{description}}</div>

</li>