/**
* Copyright github.com/laalex
* Author: Alexandru Lamba
* Version: 1.0
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,300,700);
@import url(http://fonts.googleapis.com/css?family=Niconne);
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "definitions";
@import "tasks";

.navbar {
  @include noBorders;
  padding-top: 15px;
  a {
    color: #fff;
    text-decoration: none;
    &:hover{
    color: $alizarin;
    }
  }

}
.navbar-inverse{color: $white;}
.col-xs-1{padding-left:0;}
.alert{margin:0; text-align: center;}