/**
* Copyright github.com/laalex
* Author: Alexandru Lamba
* Version: 1.0
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,300,700);
@import url(http://fonts.googleapis.com/css?family=Niconne);
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "definitions";
@import "tasks";

.container{
  margin-top:20px;
  ul li{
    margin-bottom:20px;
  }
}

.input{
  border:none;
  outline: none;
}

.small{
  width:15px;
}

.fullwidth{
  width:100%;
}

.btn-link{
  padding:0;
  margin:0;
  width:auto;
  color: $black;
  font-style: italic;
}

.newTaskForm {
  margin-top: 25px;
  display: none;
}

a{
  color: $black;
  font-style: italic;
}