.task{
  margin-bottom:20px;
  background: #FAFAFA;
  padding:10px;
  border-radius:5px;
  .taskName{
    width:300px;
    font-style: italic;
    margin-bottom:10px;
  }
  .taskDuration{
    margin-bottom: 10px;
  }
  .taskDetails{
    line-height: 14px;
    font-size:12px;
    min-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
  }
  .taskDetails.collapsed{max-height:44px;}
  .taskDetails.opened{ max-height: inherit;}
  .taskEdit{
    margin-top:20px;
  }
}